<nav class="navbar">
    <form method="post" action="/">
        <select name="searchFor" id="searchFor">
            <option value="title">Title</option>
            <option value="dev_name">Developer</option>
            <option value="genre_name">Genre</option>
            <option value="price">Price</option>
            <option value="stock">Stock</option>
        </select>
        <input type="text" for="searchTerm" id="searchTerm" name="searchTerm" required>
        <button type="submit">Search</button>
    </form>
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
</nav>