<nav class="navbar">
    <form method="post" action="/">
        <label for="search">Title:</label>
        <input type="text" for="search" id="search" name="search" required>
        <button type="submit">Search</button>
    </form>
  <a href="#home">Home</a>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
</nav>