<nav class="navbar">
    <form method="post" action="/">
        <select name="searchFor" id="searchFor">
            <option value="title">Title</option>
            <option value="dev_name">Developer</option>
            <option value="genre_name">Genre</option>
        </select>
        <input type="text" for="searchTerm" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
        <label for="inStock">In stock?</label>
        <input type="checkbox"  id="inStock" name="inStock" value="true">
    </form>
    <div class="navLinks">
        <a href='/'>Home</a>
        <a href="/update">Update database</a>
    </div>
</nav>