<nav class="navbar">
    <form method="post" action="/">
        <select name="searchFor" id="searchFor">
            <option value="title">Title</option>
            <option value="dev_name">Developer</option>
            <option value="genre_name">Genre</option>
        </select>
        <input type="text" for="searchTerm" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
        <label for="inStock">In stock?</label>
        <input type="checkbox"  id="inStock" name="inStock" value="true">
    </form>
  <a href='/'>Home</a>
  <a href="/games">Update games</a>
  <a href="/devs">Update developers</a>
  <a href="/genres">Update genres</a>
  <a href="/prices">Update prices</a>
  <a href="/stock">Update stock</a>
</nav>