<nav class="navbar">
    <form method="post" action="/">
        <select name="searchFor" id="searchFor">
            <option value="title">Title</option>
            <option value="dev_name">Developer</option>
            <option value="genre_name">Genre</option>
        </select>
        <input type="text" for="searchTerm" id="searchTerm" name="searchTerm">
        <button type="submit">Search</button>
        <label for="inStock">In stock only?</label>
        <input type="checkbox"  id="inStock" name="inStock" value="true">
    </form>
  <a href='/'>Home</a>
  <a href="/game">Add new game</a>
  <a href="/dev">Add new developer</a>
  <a href="/genre">Add new genre</a>
  <a href="/price">Add new price</a>
  <a href="/stock">Update stock</a>
</nav>