<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/errors.ejs") %>
    <div>Hello world</div>
    <% games.forEach((game) => { %>
      <li><%= game.title %></li>
    <% }) %>
  </body>
</html>