<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="gridContainer">
        <div>No matching data, please try again</div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>