<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="formContainer">
        <form method="POST" action="/addDev">
            <label for="newDev">Add new developer:</label>
            <input type="text" id="newDev" name="newDev">
            <button type="submit">Add</button>
        </form>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>