*{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-around; 
    background-color: #333;
    padding: 1rem;
}

.navbar > a, .navbar > form {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 4px;
}